.boxt1{
  // margin-top: 0.6rem;
  width: 240px;
  /* height: 500px; */
  /* background-color: aqua; */
  float: right;
  margin-right: 1.2rem;
  /* margin-top: 6rem; */
}

.mart1{
  /* height: 6rem; */
}